.header {
    padding: 10px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;
    //border-bottom: 1px solid $textMutedColor;

    .left-top, .right-top {
        border-bottom: 1px solid $textMutedColor;
        padding-bottom: 20px;
		align-items: flex-end;
    }

    .fa-user {
        font-size: 30px;
    }

    &.is-sticky {

    }

    &.is-autohide {

    }

    &.is-transparent {

    }

    &.is-solid {

    }
	.text-muted {
		font-size: 13px;
	}

    &.is-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 41;
        transition: .2s transform, .2s visibility, .3s background-color;
        will-change: transform, visibility, background-color;

        &.onscroll-hide {
            visibility: hidden;
            transform: translateY(-100%);
        }

        &.onscroll-show {
            visibility: visible;
            transform: translateY(0);
        }
    }
}

@media #{$desktop-max} {
    .header {
        display: none !important;
    }
}
