//* example 1 (local import) see on font src and set match property!

@font-face {
    font-family: 'ShangoMedium';
    src: url("assets/fonts/ShangoMedium.otf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShangoRegular';
    src: url("assets/fonts/ShangoRegular.otf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

//* example 2 (import from google fonts)
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');

$fontFamilyOne: 'ShangoRegular'; // titles
$fontFamilyTwo: 'Manrope', sans-serif; // body
